<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NLP Demo</title>
  </head>
  <body>
    
    <main>
      <div class="card bg-dark text-white">
        <div class="card-body">NLP Demo using Aylien</div>
      </div>

      <hr />

      <form class="form-group" onsubmit="return Client.handleCallAylienForNLP(event)">
        <label for="test-url">
          Enter Url for NLP Analysing by Aylien...
        </label>
        <input class="form-control input-lg" required id="test-url" type="url" placeholder="e.g https://punchng.com/grumbling-in-police-as-fg-fails-to-implement-salary-increase/" />
        <br/><br/>
        <input class="btn-lg btn-primary btn-block" type="submit" value="Submit" />
        
      </form>

      <section class="url-results">
        <ul>
          <div class="card bg-success text-white">
          <li>
            <h3>Text Polarity: <span id="polarity"></span></h3>
            
            <h3>Confidence: <span id="polarity_confidence"></span></h3>

          </li>

          <li>
            <h3>Text Subjectivity: <span id="subjectivity"></span></h3>

            <h3>Confidence: <span id="subjectivity_confidence"></span></h3>

          </li>
          </div>

          <li>
            <br/><br/>
            <h3>Text Details:</h3>
            <hr/>
            <p id="textDetails"></p>
          </li>
        </ul>
      </section>
    </main>
    <script>
        if ("serviceWorker" in navigator) {
        window.addEventListener("load", () =>
          navigator.serviceWorker.register("/service-worker.js")
        );
      }
    </script>
    
  </body>
</html>
