
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

h3 span {
  font-size: 16px;
  font-style: italic !important;
}

h4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

p {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  color: whitesmoke;
  font-style: bold;
}

// body {
//   background-color: #8E78FD;
//   min-height: 100vh;
// }

body {
  background: url('https://source.unsplash.com/ZKEjw7oLmQQ/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

main {
  padding: 8rem;
}

